<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/picocss/pico.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/picocss/pico.docs.min.css') }}" />
    <title>{% block title %}{% endblock %} - Cloud Desk</title>
    {% endblock %}
</head>
<body>
    <main class="container">
      {% block aside %}
      <aside>
        <nav class="closed-on-mobile">
          <a href="./" class="secondary" id="toggle-docs-navigation"><svg xmlns="http://www.w3.org/2000/svg"
              class="expand" fill="currentColor" viewBox="0 0 16 16" height="16px">
              <title>Expand</title>
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z">
              </path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="collapse" fill="currentColor" viewBox="0 0 16 16"
              height="16px">
              <title>Collapse</title>
              <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707l-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z">
              </path>
            </svg>
            Table of contents</a>
          <details>
            <summary>Getting started</summary>
            <ul>
              <li>
                <a href="/" id="start-link" class="secondary">Start</a>
              </li>
              <li>
                <a href="/themes" id="themes-link" class="secondary">Themes</a>
              </li>
            </ul>
          </details>
          <details>
            <summary>AWS</summary>
            <ul>
              <li>
                <a href="/aws/cloudwatch" id="cloudwatch-link" class="secondary">CloudWatch</a>
              </li>
              <li>
                <a href="/aws/ec2" id="ec2-link" class="secondary">EC2</a>
              </li>
              <li>
                <a href="/aws/s3" id="s3-link" class="secondary">S3</a>
              </li>
              <li>
                <a href="/aws/dynamodb" id="dynamodb-link" class="secondary">DynamoDB</a>
              </li>
            </ul>
          </details>
        </nav>
      </aside>
      {% endblock %}
      <div role="document">{% block content %}{% endblock %}
        <footer>
          <hr />
          <p>
            <small>Made by wffger | Powered by <a href="https://picocss.com/">Pico.css</a></small>
          </p>
        </footer>
      </div>
    </main>
    <script src="{{ url_for('static', path='js/commons.min.js') }}"></script>
</body>
</html>