{% extends "base.html" %} {% block title %}DynamoDB Song{% endblock %} {% block head %} {{
super() }}
<link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', path='/css/s3.css') }}"/>
{% endblock %} {% block aside %} {{ super() }}
<script>
    const activeLink = document.querySelector("aside a#dynamodb-link"),
      parentAccordion = activeLink.closest("details");
    activeLink.setAttribute("aria-current", "page"),
      parentAccordion.setAttribute("open", "true");
</script>
{% endblock %} {% block content %}
<section>
    <article>
        <ul>
            {% for song in songs %}
            <li>{{ song|e }}</li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endblock %}
  